NiceBytes.Veterinary.Tests/obj/Debug/build.force
NiceBytes.Veterinary.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NiceBytes.Veterinary.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NiceBytes.Veterinary.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NiceBytes.Veterinary.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
NiceBytes.Veterinary.v12.suo
*.mdf
NiceBytes.Veterinary/App_Data/aspnet-NiceBytes.Veterinary-20150430083217_log.ldf
NiceBytes.Veterinary/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
NiceBytes.Veterinary/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
NiceBytes.Veterinary/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs