@model IEnumerable<NiceBytes.Veterinary.Models.ClientsModel>
@using Newtonsoft.Json;
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#">Home</a></li>
        <li role="presentation">@Html.ActionLink("Profile", "Index", "Clients")</li>
        <li role="presentation"><a href="#">Messages</a></li>
    </ul>
    <div class="col-sm-5 col-md-5 col-lg-5">
        <form class="navbar-form" role="search">
            <div class="input-group fill-parent">
                <input type="text" class="form-control" placeholder="Buscar..." name="srch-term" id="srch-term">
                <div class="input-group-btn pull-left">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 pull-right margin-right-20">
        <div class="navbar-form">
            <a class="btn btn-default" href="#" role="button">
                Agregar Nuevo
                <span class="glyphicon glyphicon-plus"></span>
            </a>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Socio</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Teléfono</th>
            </tr>
        </thead>
        <tbody data-bind="foreach:currentTransactions">
            <tr>
                <td data-bind="text:ClientNumber"></td>
                <td data-bind="text:FirstName"></td>
                <td data-bind="text:LastName"></td>
                <td data-bind="text:Email"></td>
                <td data-bind="text:PhoneNumber"></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">
                    <span data-bind="click:previousPage,visible:currentPage() > 1" class="glyphicon glyphicon-circle-arrow-left" style="cursor:pointer;"></span>
                    <span data-bind="text:currentPage"></span>
                    <span data-bind="click:nextPage,visible:currentPage() < lastPage" class="glyphicon glyphicon-circle-arrow-right" style="cursor:pointer;"></span>
                </td>
            </tr>
        </tfoot>
</table>
</div>

<script src="~/Scripts/knockout-3.3.0.js"></script>
<script>
    function ClientsViewModel() {
        var self = this;

        // properties
        self.transactions = @Html.Raw(JsonConvert.SerializeObject(Model, new JsonSerializerSettings{ReferenceLoopHandling = ReferenceLoopHandling.Ignore}));
        self.pageSize = 5;
        self.lastPage = Math.ceil(self.transactions.length / self.pageSize);
        self.currentPage = ko.observable(1);
        self.currentTransactions = ko.computed(function(){
            var startIndex = (self.currentPage() - 1) * self.pageSize;
            var endIndex = startIndex + self.pageSize;
            return self.transactions.slice(startIndex, endIndex);
        });

        // methods
        self.nextPage = function(){
            self.currentPage(self.currentPage() + 1);
        };
        self.previousPage = function(){
            self.currentPage(self.currentPage() - 1);
        };
    };

    ko.applyBindings(new ClientsViewModel());
</script>
